<h1>Light Control</h1>
<div id='controls'>
  <% RELAYS.each_pair do |name, relay| %>
    <div class='row well'>
      <div class='col-xs-12' id='<%= name %>-state'>
        <%= name %> <i class='fa fa-lightbulb-o'></i>
      </div>
      <div class='col-xs-12'>
        <a id='<%= name %>-control' class='light-control'>
          <i class='fa' id='<%= name %>-toggle'></i>
        </a>
      </div>
    </div>
  <% end %>
</div>

<script>
var relays = {
  <% RELAYS.each_pair do |name, relay| %>
    <%= name %>: '<%= relay.state %>',
  <% end %>
}

$(document).ready(function() {
  $.each(relays, function(light, state) {
    alter(light, state)
  })
})

function submit(light, state) {
  $.ajax({
      url: '/lights/' + light,
      data: { state: state },
      type: 'PATCH',
      contentType: 'application/json'
  })

  $('#' + light + '-state').removeClass('bulb-' + inverse(state))
  $('#' + light + '-state').addClass('bulb-' + state)

  $('#' + light + '-toggle').removeClass('fa-toggle-' + inverse(state))
  $('#' + light + '-toggle').addClass('fa-toggle-' + state)

  $('#' + light + '-control').attr('href', 'javascript: submit("' + light + '", "' + inverse(state) + '")')
}

function alter(light, state) {
  $('#' + light + '-state').removeClass('bulb-' + inverse(state))
  $('#' + light + '-state').addClass('bulb-' + state)

  $('#' + light + '-toggle').removeClass('fa-toggle-' + inverse(state))
  $('#' + light + '-toggle').addClass('fa-toggle-' + state)

  $('#' + light + '-control').attr('href', 'javascript: submit("' + light + '", "' + inverse(state) + '")')
}

function inverse(state) {
  if (state == 'off') {
    return 'on'
  } else {
    return 'off'
  }
}
</script>
