<hr />
<h1>Light Control</h1>
<hr />
<div id='controls'>
  <% RELAYS.each_pair do |name, relay| %>
    <div class='row'>
      <div class='col-xs-12' id='<%= name %>-state'>
        <%= name %> <i class='fa fa-lightbulb-o'></i>
      </div>
      <div class='col-xs-12'>
        <a id='<%= name %>-control' class='light-control'>
          <i class='fa' id='<%= name %>-toggle'></i>
        </a>
      </div>
    </div>
    <hr />
  <% end %>
</div>

<script>
var relays = {
  <% RELAYS.each_pair do |name, relay| %>
    <%= name %>: '<%= relay.state %>',
  <% end %>
}

$(document).ready(function() {
  $.each(relays, function(light, state) {
    alter(light, state)
  })
})

function submit(light, state) {
  $.ajax({
      url: '/lights/' + light,
      data: { state: state },
      type: 'PATCH',
      contentType: 'application/json'
  })

  alter(light, state)
}

function alter(light, state) {
  flip(light, '-state', state, 'bulb-')
  flip(light, '-toggle', state, 'fa-toggle-')
  $('#' + light + '-control').attr('href', 'javascript: submit("' + light + '", "' + invert(state) + '")')
}

function flip(light, postfix, state, prefix) {
  $('#' + light + postfix).removeClass(prefix + invert(state))
  $('#' + light + postfix).addClass(prefix + state)
}

function invert(state) {
  if (state == 'off') {
    return 'on'
  } else {
    return 'off'
  }
}
</script>
