<h1>Light Control</h1>
<div id='controls'>
  <% RELAYS.relays.each_pair do |name, relay| %>
    <div class='row well'>
      <div class='col-xs-12'>
        <%= name %> <i class='fa fa-lightbulb-o bulb-<%= relay.state.to_s %>'></i>
      </div>
      <% [
        'on',
        'off'
      ].each do |state| %>
        <div class='col-xs-6'>
          <form enctype='application/json' class='form-inline' method='post' action='/lights/<%= name %>'>
            <input name='state' value='<%= state %>' hidden>
            <button class='btn btn-<%= state %>' type='submit'>
              <%= state %>
            </button>
          </form>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
